*.*~
*.tmp
*.log
*.swp
*.DS_Store
*.orig
*.mexmaci64
*.mexa64
*.o
*.gz
*.tar
*.zip
*.save

bin
build

*.mat
*.fig
*.jpg
*.png
*.pdf
*.eps
Thumbs.db

*.aux
*.log
*._*
*.bbl
*.blg
*.nav
*.out
*.snm
*.synctex.gz*
*.toc
*.dvi

data/*

matoutfile

*.trc
*.h5
*.npz
*.npy
*.dat
